.flex{
    display: flex;
    justify-content: space-between;
    justify-items: center;
   
   
}
header{
  height: 120px;
  width: 100%;
  background-color: red;
  padding:5px;
}
.flex div img{
    width: 120px;
}
header>div{
    display: flex;
}
.text>div{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    background-color: #68c0e6;
}
.nav{
    display: flex;
    background-color: #68c0e6;

}
.nav>div{
    justify-items: center;
    text-align: center;
    width: 10%;
    border-left: 2px solid black; 
}
.nav>div:hover{
    background-color: blue;
}
.nav>div:first-child{
    border: none;
}
.left{
    width: 30%;
    background-color: gray;
   
}
.left ul{
    margin:0;
    list-style: none;
}
.left>ul>li{
    width: 100%;
    
    padding: 10px;
    background: linear-gradient(white,blue);
}

.left>ul a{
    text-decoration: none;
}
.right{
    width:70%;
    height: 200px;
   
}
.book{
  width: 20%;
}
.books.flex{
    flex-wrap: wrap;
}
.book>div{
    padding: 5px;
    text-align: center;
  
}
.book>div>img{
   width: 100%;
}